<h2><%= t('.header') %></h2>
<table class="table table-striped <%= dom_class(presenter) %> attributes" <%= presenter.microdata_type_to_html %>>
  <thead>
  <tr><th><%= t('.attribute_name_label') %></th><th><%= t('.attribute_values_label') %></th></tr>
  </thead>
  <tbody>
  <%= render 'attribute_rows', presenter: presenter %>
  <%= presenter.attribute_to_html(:embargo_release_date) %>
  <%= presenter.attribute_to_html(:lease_expiration_date) %>
  <%= presenter.attribute_to_html(:rights, render_as: :rights) %>
  <%= presenter.attribute_to_html(:collection_code) %>
  <%= presenter.attribute_to_html(:catalog_number) %>
  <%= presenter.attribute_to_html(:other_catalog_numbers) %>
  <%= presenter.attribute_to_html(:continent) %>
  <%= presenter.attribute_to_html(:country) %>
  <%= presenter.attribute_to_html(:state_province) %>
  <%= presenter.attribute_to_html(:county) %>
  <%= presenter.attribute_to_html(:higher_geography) %>
  <%= presenter.attribute_to_html(:locality) %>
  <%= presenter.attribute_to_html(:decimal_latitude) %>
  <%= presenter.attribute_to_html(:decimal_longitude) %>
  <%= presenter.attribute_to_html(:kingdom) %>
  <%= presenter.attribute_to_html(:phylum, label: 'Phylum or Division') %>
  <%= presenter.attribute_to_html(:dwcclass, label: 'Class') %>
  <%= presenter.attribute_to_html(:order) %>
  <%= presenter.attribute_to_html(:family) %>
  <%= presenter.attribute_to_html(:genus) %>
  <%= presenter.attribute_to_html(:specific_epithet) %>
  <%= presenter.attribute_to_html(:infraspecific_epithet) %>
  <%= presenter.attribute_to_html(:scientific_name) %>
  <%= presenter.attribute_to_html(:scientific_name_authorship) %>
  <%= presenter.attribute_to_html(:type_status) %>
  <%= presenter.attribute_to_html(:basis_of_record) %>

  <%= presenter.attribute_to_html(:bed) %>
  <%= presenter.attribute_to_html(:dwcmember) %>
  <%= presenter.attribute_to_html(:formation) %>
  <%= presenter.attribute_to_html(:group) %>
  <%= presenter.attribute_to_html(:latest_age_or_highest_stage) %>
  <%= presenter.attribute_to_html(:earliest_age_or_lowest_stage) %>
  <%= presenter.attribute_to_html(:latest_period_or_highest_system) %>
  <%= presenter.attribute_to_html(:earliest_period_or_lowest_system) %>

  <%= presenter.attribute_to_html(:institution_code) %>
  <%= presenter.attribute_to_html(:occurrence_id) %>
  <%= presenter.attribute_to_html(:country_code) %>
  <%= presenter.attribute_to_html(:taxon_rank) %>
  <%= presenter.attribute_to_html(:water_body) %>
  <%= presenter.attribute_to_html(:location_remarks) %>
  <%= presenter.attribute_to_html(:geodetic_datum) %>

  </tbody>
</table>
